{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Blog creation</h1>
<form action= "{{ path('blog_create') }}" method="POST" {{ form_enctype(form) }}>
    {{ form(form) }}
    <p>
    	<button type="submit">Create</button>
</form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
